body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.auth{
  background-color: #f1f1f1;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  box-shadow: 0 10px 6px -6px #e3e3e3;
}

.auth-challenger-img{
  height: 9rem;
}

.align-text-right{
  text-align: left;

}

.color-secondary{
  color: #6f6f6f;
}

.logout-img{
  width: 1rem;
  cursor: pointer;
}

.logout-img:hover{
  filter: invert(.2);
}

.nav-profile{
  font-weight: 500;
}

.nav-divider{
  font-size: 15px;
  color: #6f6f6f;
}

.dash-side-title{
  font-weight: 500;
  font-size: 24px;
}

.dash-side{
  border-right: 1px solid #d9d9d9;
}

.dash-side-rank-img{
  width: 10rem;
}

.dash-side-rank-text{
  font-weight: 500;
  font-size: 1.3rem;
}

.text-align-left{
  text-align: left;
}

.text-italic{
  font-style: italic;
}

.text-85{
  font-size: .85rem;
}

.attention-wrap{
  background-color: #f1f1f1;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  box-shadow: 0 10px 6px -6px #e3e3e3;
}

.challenges{
  height: 25vh;
}

.challenge{
  border: 1px solid #d0d0d0;
  background-color: #f3f3f3;
  border-radius: 3px;
  cursor: pointer;
}

.challenge:hover{
  filter: brightness(90%);
}

.challenge-title{
  font-weight: 500;
  font-size: 1.3rem;
}

.challenge-div-img{
  width: 6rem;
}